@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

@import "tailwindcss";

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

.custom-dots li {
  margin: 0 1px !important;
}

.custom-dots li button::before {
  font-size: 10px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@theme {
  --font-marcellus: "Marcellus", sans-serif;
  --color-caramelGold: #dba860;
  --color-offWhite: #f2f2f2;
  --color-deepMaroon: #2b0a0a;
  --color-champagneBeige: #ecd3af;
  --color-vintageBronze: #a99c67;
  --color-mossyOlive: #b8aa70;
  --color-deepGold: #bd9800;
  --color-mustardBrown: #8b7107;
  --color-burntCopper: #aa7446;
  --color-oldLavender: #6f5a7d;
  --color-softCream: #f9f5ef;
  --color-gradis: #9a9a9a;
  --color-beiage: #c1a78c;
  --color-cream: #F5F0E0;
  --color-mustard: #CCB363;
  
}

@layer components {
  .button {
    @apply relative inline-flex items-center gap-3 font-semibold text-white px-6 py-3 pl-5 rounded-full 
      whitespace-nowrap overflow-hidden cursor-pointer leading-none no-underline border-0 z-10;

    background-color: var(--clr);
    transition: color 0.3s ease-in-out;
  }

  .button::before {
    content: "";
    @apply absolute inset-0 rounded-full;
    background: linear-gradient(to right, white, white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
  }

  .button:hover::before {
    transform: scaleX(1);
  }

  .button:hover {
    color: var(--clr);
  }

  .button__icon-wrapper {
    @apply flex-shrink-0 w-[25px] h-[25px] relative bg-white rounded-full grid place-items-center 
      overflow-hidden;
    color: var(--clr);
    z-index: 10;
  }

  .button__icon-svg--copy {
    @apply absolute;
    transform: translate(-150%, 150%);
  }

  .button:hover .button__icon-svg:first-child {
    @apply transition-transform duration-300 ease-in-out;
    transform: translate(150%, -150%);
  }

  .button:hover .button__icon-svg--copy {
    @apply transition-transform duration-300 ease-in-out delay-100;
    transform: translate(0);
  }
}

/* -------------------------    PAGE ABOUT.JSX  ------------------------------------ */

